---
import Layout from '../layouts/Layout.astro';
import HomeSection from '../components/HomeSection.astro';
import AboutSection from '../components/AboutSection.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
	<Header />
	<main class="bg-gradient-to-r from-[#0096c7] via-white to-[#0096c7] flex flex-col flex-1 overflow-hidden h-[100vh-160px]">
		<HomeSection />
		<AboutSection />
	</main>
	<Footer />
</Layout>


<style>
	.main {
		overflow-y: scroll;
  		scroll-snap-type: y mandatory;
	}

	main section {
		scroll-snap-align: start;
	}
</style>
	