---
import Layout from '../layouts/Layout.astro';
import AboutSection from '../components/AboutSection.astro';
import ProjectsSection from '../components/ProjectsSection.astro';
const partial = Astro.url.searchParams.has('partial');
---

{partial 
	? <ProjectsSection />
	: (
	  <Layout currentPage="about">
		<div style="height: 100%; overflow: hidden; display: flex; flex-direction: column; margin: 2rem; padding: 0;">
		  <ProjectsSection />
		</div>
	  </Layout>
	)
}
