---
import { Image } from "astro:assets";
import profileImage from "../assets/profile.jpg";
---

<section id="about" class="text-[#0096c7] text-center px-4 py-16 min-h-full flex-1 overflow-y-auto flex flex-col items-center justify-center">
    <h2 class="mb-4 font-bold text-[2.5rem]">About Me</h2>
    <div class="max-w-[900px] overflow-hidden text-left border-2 mx-auto my-8 px-4 py-[inherit] rounded-lg border-solid border-[rgb(32,107,121)]">
        <p class="text-[1.1rem] leading-[1.7] text-[#0096c7] m-0">
            Hi, I'm a Systems Engineer with a strong background in <strong>backend development</strong>, 
            working with <span class="highlight">Laravel</span>, <span class="highlight">Strapi</span>, and <span class="highlight">Node.js</span>. 
            I focus on building scalable, secure, and well-tested solutions. By implementing unit tests with <span class="highlight">PHPUnit</span>, <span class="highlight">Jest</span>, and other tools, I've achieved over <strong>90%</strong> coverage in complex projects.
            <br/><br/>
            I'm passionate about continuous improvement and always look for ways to integrate best practices in software engineering. 
            My goal is to bring my expertise and strategic thinking to teams that prioritize <em>quality</em> and <em>innovation</em>.
        </p>
    </div>
    
</section>