---
import { Image } from "astro:assets";
import profileImage from "../assets/profile.jpg";
---

<section class="bg-[#1b232b] text-center p-8">
    <h2 class="mb-4 font-bold">About Me</h2>
    <div class="bg-[#1b232b] max-w-[900px] overflow-hidden text-left border mx-auto my-8 px-4 py-[inherit] rounded-lg border-solid border-[rgba(173,216,230,0.1)]">
        <Image src={profileImage} alt="Profile Picture" class="float-left w-[150px] h-[150px] object-cover ml-0 mr-6 mt-0 mb-4 rounded-[50%] border-[3px] border-solid border-[#00b4d8]" width={200} height={200} loading="lazy" />

        <p class="text-[1.1rem] leading-[1.7] text-[#a8c2cc] m-0">
            Hi, I'm a Systems Engineer with a strong background in <strong>backend development</strong>, 
            working with <span class="highlight">Laravel</span>, <span class="highlight">Strapi</span>, and <span class="highlight">Node.js</span>. 
            I focus on building scalable, secure, and well-tested solutions. By implementing unit tests with <span class="highlight">PHPUnit</span>, <span class="highlight">Jest</span>, and other tools, I've achieved over <strong>90%</strong> coverage in complex projects.
            <br/><br/>
            I'm passionate about continuous improvement and always look for ways to integrate best practices in software engineering. 
            My goal is to bring my expertise and strategic thinking to teams that prioritize <em>quality</em> and <em>innovation</em>.
        </p>
    </div>
    
</section>