---
import { Icon } from 'astro-icon/components';
---

<section id="contact" class="text-[#0096c7] text-center px-4 py-8 min-h-full flex-1 overflow-y-auto flex flex-col items-center justify-center">
    <h1 class="text-[2.5rem] mb-2 font-bold">Contact Me</h1>
    <h2 class="text-[1.5rem] mb-4">Let's connect!</h2>
    <div class="flex flex-col gap-4 border-[1px] rounded-lg border-solid border-[#0096c7] p-4 mb-4">
        <a href="" target="_blank" rel="noopener noreferrer" class="text-[#00b4d8] text-[2rem] hover:text-[#0077b6] flex items-center gap-2">
            <Icon name="github" />
            <p class="text-[1rem]">github.com/JuanchiFranco</p>
        </a>
        <a href="https://linkedin.com/in/juanfrancovargas-dev/" target="_blank" rel="noopener noreferrer" class="text-[#00b4d8] text-[2rem] hover:text-[#0077b6] flex items-center gap-2">
            <Icon name="linkedin" />
            <p class="text-[1rem]">linkedin.com/in/juanfrancovargas-dev</p>
        </a>
        <a href="mailto:francovargajuandario@gmail.com" class="text-[#00b4d8] text-[2rem] hover:text-[#0077b6] flex items-center gap-2">
            <Icon name="email" />
            <p class="text-[1rem]">francovargajuandario@gmail.com</p>
        </a>
        <a rel="noopener noreferrer" class="text-[#00b4d8] text-[2rem] hover:text-[#0077b6] flex items-center gap-2">
            <Icon name="map-pin" />
            <p class="text-[1rem]">Colombia</p>
        </a>
    </div>
</section>