---
// src/pages/experiencia.astro
import JobItem from './JobFunctions'; // La extensión .tsx es opcional en las importaciones

const jobs = [
    {
        name: 'Desarrollador Backend Externo',
        company: 'AB-InBev',
        date: '2024 - 2025',
        description: [
        'Desarrollé y mantuve aplicaciones en Strapi CMS (una tecnología recientemente implementada por la empresa) en proyectos a gran escala.',
        'Diseñé e implementé aproximadamente diez plugins personalizados para Strapi CMS, ampliando las APIs con funcionalidades como filtros avanzados, gestión de componentes frontend, generación de reportes y carga de archivos Excel.',
        'Implementé workers en Node.js para un manejo eficiente de recursos al procesar cargas masivas y generar reportes diarios.',
        'Desarrollé y ejecuté pruebas unitarias con Jest y PHPUnit, logrando una cobertura superior al 80%.',
        'Identifiqué y mitigué más de 30 vulnerabilidades utilizando Snyk y Apiiro, fortaleciendo la seguridad de las APIs internas.',
        'Lideré talleres de pruebas para seis desarrolladores, estandarizando la creación de pruebas y mejorando la calidad del código.'
        ],
    },
    {
        name: 'Desarrollador',
        company: 'Freelance',
        date: '2022 - 2023',
        description: [
        'Diseñé una red neuronal artificial para la gestión de lecciones aprendidas durante el ciclo de vida de un proyecto, utilizando la metodología de gestión de proyectos PMBOK.',
        ],
    },
];

---

<section
    id="experiencia"
    class="text-[#0096c7] text-center px-4 py-8 min-h-screen flex-1 overflow-y-auto flex flex-col items-center justify-center sm:px-6 sm:py-10 md:px-8 md:py-12 lg:px-10 lg:py-16 relative mt-16 mb-16"
>
        <h1 class="text-[2.5rem] mb-2 font-bold sm:text-[2rem] md:text-[2.5rem] lg:text-[3rem]">
                Mi Experiencia
        </h1>
        <div class="timeline mt-8 w-full max-w-4xl bg-white shadow-lg rounded-lg p-6 relative sm:p-4 md:p-6 lg:p-8">
                {jobs.map((job, idx) => (
                        <JobItem
                                client:load
                                key={idx}
                                job={job}
                                isEven={idx % 2 === 0}
                                isLast={idx === jobs.length - 1}
                                className="mb-6 sm:mb-4 md:mb-6 lg:mb-8"
                        />
                ))}
        </div>
</section>