---
const jobs = [
    {
        name: 'Full Stack Developer',
        company: 'Freelance',
        date: '2023 - Present',
        description: [
            'Developed web applications using React, Node.js, and MongoDB.',
            'Implemented responsive designs for cross-platform compatibility.',
            'Optimized application performance and scalability.',
        ],
    },
    {
        name: 'Software Engineer',
        company: 'Tech Company',
        date: '2021 - 2023',
        description: [
            'Built and maintained APIs using JavaScript and Python.',
            'Deployed applications on AWS infrastructure.',
            'Collaborated with cross-functional teams to deliver projects on time.',
        ],
    },
    {
        name: 'Intern',
        company: 'Startup Inc.',
        date: '2020 - 2021',
        description: [
            'Assisted in developing a mobile application using React Native.',
            'Performed testing and debugging to ensure application stability.',
            'Participated in daily stand-ups and sprint planning meetings.',
        ],
    },
];
---

<section id="contact" class="text-[#0096c7] text-center px-4 py-8 min-h-screen flex-1 overflow-y-auto flex flex-col items-center justify-center sm:px-6 sm:py-10 md:px-8 md:py-12 lg:px-10 lg:py-16 relative mt-16 mb-16">
    <h1 class="text-[2.5rem] mb-2 font-bold sm:text-[2rem] md:text-[2.5rem] lg:text-[3rem]">My experience</h1>
    <div class="timeline mt-8 w-full max-w-4xl bg-white shadow-lg rounded-lg p-6 relative">
        {jobs.map((job, index) => (
            <div class={`timeline-item mb-0 flex ${index % 2 === 0 ? 'justify-start' : 'justify-end'} relative`}>
                <div class="timeline-content bg-white shadow-md rounded-lg p-4 w-5/12 relative">
                    <h2 class="text-lg font-semibold text-center">{job.name} - {job.company}</h2>
                    <p class="text-sm text-gray-600 text-center">{job.date}</p>
                    <ul class="text-base list-disc list-inside text-left">
                        {job.description.map((item) => (
                            <li>{item}</li>
                        ))}
                    </ul>
                </div>
                <div class="timeline-marker bg-[#0096c7] w-4 h-4 rounded-full absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 z-10"></div>
                <div class={`timeline-line bg-gray-300 w-1 absolute left-1/2 transform -translate-x-1/2 z-0 ${index === jobs.length ? 'h-1/2 bottom-0' : 'h-full top-0'}`}></div>
            </div>
        ))}
    </div>
</section>