---
import { Icon } from 'astro-icon/components';
const jobs = [
    {
        name: 'Full Stack Developer',
        company: 'Freelance',
        date: '2023 - Present',
        description: 'Developing web applications using React, Node.js, and MongoDB.',
    },
    {
        name: 'Software Engineer',
        company: 'Tech Company',
        date: '2021 - 2023',
        description: 'Worked on various projects using JavaScript, Python, and AWS.',
    },
    {
        name: 'Intern',
        company: 'Startup Inc.',
        date: '2020 - 2021',
        description: 'Assisted in developing a mobile application using React Native.',
    },
];
---

<section id="contact" class="text-[#0096c7] text-center px-4 py-8 min-h-full flex-1 overflow-y-auto flex flex-col items-center justify-center sm:px-6 sm:py-10 md:px-8 md:py-12 lg:px-10 lg:py-16">
    <h1 class="text-[2.5rem] mb-2 font-bold sm:text-[2rem] md:text-[2.5rem] lg:text-[3rem]">My experience</h1>
</section>