---
import SkillItem from './SkillItem.astro'

const skillCategories = [
    { key: 'languages', label: 'Lenguajes de programación' },
    { key: 'frameworks', label: 'Librerías/Frameworks' },
    { key: 'databases', label: 'Bases de datos' },
    { key: 'tools', label: 'Herramientas/Plataformas' },
    { key: 'methodologies', label: 'Metodologías y habilidades blandas' },
]

const skills = {
    languages: [
        {
            name: 'JavaScript',
            icon: "devicon:javascript",
        },
        {
            name: 'Node.js',
            icon: "devicon:nodejs-wordmark"
        },
        {
            name: 'Java',
            icon: "devicon:java"
        },
        {
            name: 'PHP',
            icon: "devicon:php"
        },
        {
            name: 'HTML',
            icon: "devicon:html5"
        },
        {
            name: 'CSS',
            icon: "devicon:css3"
        }
    ],
    frameworks: [
        {
            name: 'Strapi CMS',
            icon: "logos:strapi-icon"
        },
        {
            name: 'Express.js',
            icon: "devicon:express"
        },
        {
            name: 'Spring Boot',
            icon: "devicon:spring"
        },
        {
            name: 'Laravel',
            icon: "devicon:laravel"
        },
        {
            name: 'Jest',
            icon: "logos:jest"
        },
        {
            name: 'PHPUnit',
            icon: "material-icon-theme:phpunit"
        },
        {
            name: 'Tailwind CSS',
            icon: "devicon:tailwindcss"
        }
    ],
    databases: [
        {
            name: 'MySQL',
            icon: "devicon:mysql"
        },
        {
            name: 'PostgreSQL',
            icon: "devicon:postgresql"
        },
        {
            name: 'MongoDB',
            icon: "devicon:mongodb"
        }
    ],
    tools: [
        {
            name: 'Git',
            icon: "devicon:git"
        },
        {
            name: 'Docker',
            icon: "devicon:docker"
        },
        {
            name: 'Postman',
            icon: "devicon:postman"
        }
    ],
    methodologies: [
        {
            name: 'Agile/Scrum',
        },
        {
            name: 'Comunicación efectiva'
        },
        {
            name: 'Trabajo en equipo'
        },
        {
            name: 'Resolución de problemas'
        },
        {
            name: 'Adaptabilidad'
        }
    ]
}
---

<section id="skills" class="text-center px-4 py-16 min-h-full flex-1 overflow-y-auto flex flex-col items-center justify-center mt-8 mb-16">
    <h2 class="text-[#0096c7] mb-4 font-bold text-[2.5rem] sm:text-[2rem] md:text-[2.25rem] lg:text-[2.5rem]">Mis Habilidades</h2>
    <div class="max-w-screen-xl mx-auto">
      <table class="bg-white table-auto w-full border-collapse border border-[#0096c7] text-sm sm:text-xs md:text-sm lg:text-base shadow-lg hover:shadow-xl transition-shadow">
        <thead>
          <tr>
            <th class="border border-[#0096c7] px-4 py-2 text-[#0096c7] text-left sm:px-2 sm:py-1 md:px-3 md:py-2 lg:px-4 lg:py-2">Categoría</th>
            <th class="border border-[#0096c7] px-4 py-2 text-[#0096c7] text-left sm:px-2 sm:py-1 md:px-3 md:py-2 lg:px-4 lg:py-2">Tecnologías</th>
          </tr>
        </thead>
        <tbody>
          {skillCategories.map(({ key, label }) => (
            <tr>
              <td class="border border-[#0096c7] px-4 py-2 text-[#0096c7] font-bold sm:px-2 sm:py-1 md:px-3 md:py-2 lg:px-4 lg:py-2">{label}</td>
              <td class="border border-[#0096c7] px-4 py-2 sm:px-2 sm:py-1 md:px-3 md:py-2 lg:px-4 lg:py-2">
                <div class="flex gap-4 flex-wrap sm:gap-2 md:gap-3 lg:gap-4">
                  {skills[key].map((item) => (
                    <SkillItem {...item} />
                  ))}
                </div>
              </td>
            </tr>
          ))}
        </tbody>
      </table>
    </div>
</section>
<style>
  @media (max-width: 640px) {
    table {
      display: block;
      overflow-x: auto;
    }
    th, td {
      white-space: nowrap;
    }
  }
</style>