
<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Juan Franco | Portfolio</title>
    <link rel="icon" href="/Juanchianimated.jpg" />
  </head>
  <body class="bg-black text-gray-200">
    <slot />
  </body>
</html>