---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <link rel="icon" href="/Juanchianimated.jpg" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <meta name="description" content="Portafolio profesional de Juan Franco, Backend Developer especializado en JavaScript, Node.js y bases de datos relacionales. Conoce mis proyectos y habilidades." />
    <meta name="author" content="Juan Darío Franco Vargas" />
    <meta name="keywords" content="backend developer, portafolio, JavaScript, Node.js, MySQL, desarrollador backend, Juan Franco" />
    <title>Juan Franco | Backend Developer</title>

    <!-- Open Graph-->
    <meta property="og:url" content="https://juanfranco-portfolio.vercel.app/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Juan Franco | Backend Developer" />
    <meta property="og:description" content="Portafolio profesional de Juan Franco, Backend Developer especializado en JavaScript, Node.js y bases de datos relacionales. Conoce mis proyectos y habilidades." />
    <meta property="og:image" content="/profile.jpg" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="juanfranco-portfolio.vercel.app">
    <meta name="twitter:creator" content="@JuanchiFranco" />
    <meta name="twitter:title" content="Juan Franco | Backend Developer" />
    <meta name="twitter:description" content="Portafolio profesional de Juan Franco, Backend Developer especializado en JavaScript, Node.js y bases de datos relacionales. Conoce mis proyectos y habilidades." />
    <meta name="twitter:image" content="/profile.jpg">
  </head>
  <body class="bg-black text-gray-200">
    <slot />
  </body>
</html>